.detalhes{
  cursor: pointer;
  text-align: center;
  font-weight: bold;

}
.detalhes:hover{
  color: red;
  font-weight: bold;
}
.modalObras{
  list-style: none;
}
.responsiveTable{
  height: 70vh;
  overflow: scroll;
}
body{
  overflow:auto;
}

.processosTable{
  height: 65vh;
  overflow: auto;
}
.nav-tabs .nav-item {
  cursor: pointer;
}