@font-face{
  font-family: AvenirRegular;
  src: url('../fonts/AvenirNextLTPro-Regular.otf')
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  html,body,#root{
    height: 100%;
    font-family: AvenirRegular;
  }
  
  body{
    background: #000000;
    overflow-x: hidden;
  }